@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Inter:wght@400;800&display=swap');

body {
  margin: 0;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background: #111;
  /* Dark Mode Fondo */
  color: #eee;
}

h1 {
  text-align: center;
  color: #ff9f43;
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.pedido {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CABECERA TARJETA */
.pedido h2 {
  margin: 0;
  background: #333;
  color: #fff;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  border-bottom: 2px solid #ff9f43;
}

/* HORA IMPORTANTE */
.hora {
  background: #d35400;
  color: white;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* LISTA PRODUCTOS */
ul {
  list-style: none;
  padding: 15px;
  margin: 0;
  flex: 1;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid #333;
  font-size: 1.1rem;
  line-height: 1.4;
}

li:last-child {
  border-bottom: none;
}

/* BOTON */
button {
  width: 100%;
  padding: 15px;
  border: none;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  background: #2ecc71;
  color: #000;
  font-size: 1rem;
  transition: 0.2s;
}

button:hover {
  background: #27ae60;
  color: white;
}